page-setup {

	.ion-title {
	  text-align: center;
	}

	.item.item-block.item-md.item-input{
		padding: 0px;
	}

	.save-btn {
		margin-top: 50px;
	}

	// .back-button.show-back-button{
	// 	display: none;
	// }
}
