page-home {
	text-align: center;

	.start_screen {
		background-image: url("../assets/img/Rectangle.png");
	}
		
	.logo {
		margin-top: 15vh;
		width: 30vw;
	}

	.setup-title {
		margin-top: 12vh;
		font-size: 1.5em;
		color: #fff;
	}

	.setup-content1, .setup-content2{
		margin-top: 3vh;
		white-space: normal;
		padding: 0 30px 0 30px;
		color: #fff;
	}

	.setup-btn {
		bottom: 15px;
		position: fixed;
		right: 5%;
		width: 90%;
	}
}
